<section class="form-control">
  <label *ngIf="title">{{title}}<span *ngIf="isRequired" class="required">*</span></label>
  <mat-radio-group [name]="name" [(ngModel)]="value" [disabled]="disabled">
    <mat-radio-button *ngFor="let op of options; trackByIndex" [value]="fields ? op[fields.value] : op"
      (change)="onInputChange($event)">{{fields ? op[fields.text] : op}}</mat-radio-button>

    <mat-radio-button *ngIf="options.length == 0" [value]="displayValue" (change)="onInputChange($event)">{{displayText}}<ng-container *ngTemplateOutlet="dTitleAddOn"></ng-container></mat-radio-button>
  </mat-radio-group>
</section>

