<section class="w-full">
  <table class="table-mee measures-table table-auto">

    <colgroup>
      <col style="width: 200px;" />
      <col style="width: 50px;" />
      <col style="width: 200px;" />
      <col style="width: 50px;" />
    </colgroup>

    <thead>
      <tr>
        <th class="text-center" colspan="2">ความสามารถในการดำเนินการตามมาตรการ</th>
        <th class="text-center" colspan="2">ระดับความสำเร็จตามตัวชี้วัด</th>
      </tr>
    </thead>

    <tbody>
      <!-- หัวข้อมมาตราการ -->
      <tr class="sub-head">
        <td>มาตรการที่ 9 องค์กรปกครองส่วนท้องถิ่นให้ภาค
          ประชาชนที่มีคุณสมบัติเชี่ยวชาญด้านวิศวกรรมโยธาหรือ
          ความเชี่ยวชาญอื่น ๆ ที่เกี่ยวข้อง เข้ามามีส่วนร่วม
          ในการตรวจรับงาน และมีกฎหมายหรือระเบียบรองรับ
          เพื่อคุ้มครองภาคประชาชนที่เข้ามามีส่วนร่วม
          ในการตรวจรับงาน เพื่อให้การส่งมอบงานโครงการก่อสร้าง
          ทางหลวงท้องถิ่นเป็นไปตามมาตรฐานและตามรายละเอียด
          ที่ระบุไว้ในสัญญา</td>
        <td class="text-center">หลักฐานประกอบ</td>
        <td>ตัวชี้วัดที่ 9 ร้อยละของจำนวนโครงการที่ดำเนินการเสร็จสิ้น
          ภายในระยะเวลาที่กำหนดไว้ในสัญญา และผลงานการส่งมอบ
          เป็นไปตามมาตรฐานและตามรายละเอียดที่ระบุไว้ในสัญญา</td>
        <td class="text-center">หลักฐานประกอบ</td>
      </tr>
      <!-- คำอธิบาย -->
      <tr>
        <td>
          <h3>คำอธิบายมาตรการ</h3>
          <p class="indent-8">องค์กรปกครองส่วนท้องถิ่นต้องมีการจัดตั้ง
            คณะกรรมการตรวจรับงาน โดยให้ภาคประชาชนเข้ามา
            มีส่วนร่วมในการดำเนินงานดังกล่าว ซึ่งจำเป็นจะต้องมี
            คุณสมบัติเฉพาะ เช่น มีความรู้ ความสามารถ และมีความ
            เชี่ยวชาญเกี่ยวกับวิศวกรรมโยธาหรือความเชี่ยวชาญอื่น ๆ
            ที่เกี่ยวข้อง รวมถึงควรมีการออกระเบียบและมาตรการ
            คุ้มครองภาคประชาชนที่เข้าร่วมตรวจรับงาน และมีการใช้
            เทคโนโลยีในการสนับสนุนการตรวจสอบงานก่อสร้าง เช่น
            การใช้แอปพลิเคชันหรือระบบแจ้งเบาะแสออนไลน์ การ
            นำเทคโนโลยีเช่น GPS และภาพถ่ายดาวเทียมมาช่วย
            ตรวจสอบความถูกต้องของโครงการ การจัดทำแผนที่ดิจิทัลแสดงข้อมูลโครงการก่อสร้างทางหลวงท้องถิ่นใน
            แต่ละพื้นที่ เป็นต้น
          </p>

          <p class="indent-8">ทั้งนี้ หากพบเห็นการดำเนินงานที่ไม่เป็นไปตามสัญญา
            หรือมีการแจ้งร้องเรียนให้มีการปรับปรุงแก้ไขการ
            ก่อสร้าง องค์กรปกครองส่วนท้องถิ่นจะต้องตอบสนอง
            ต่อความไม่ถูกต้องเหล่านั้นโดยเร็ว พร้อมทั้งจัดทำ
            รายงานและสรุปผลการตรวจรับงาน และเผยแพร่ข้อมูล
            การตรวจรับงานและรายงานผลการส่งมอบงานต่อ
            สาธารณะ ทั้งนี้ องค์กรปกครองส่วนท้องถิ่นจะต้องมีการ
            ดำเนินการที่สำคัญ ดังนี้
          </p>

          <div class="grid grid-cols-1 gap-3 mt-2">
            <m-checkbox title="มีการกำหนดและจัดตั้งคณะกรรมการตรวจรับ
            งาน โดยมีภาคประชาชนที่มีคุณสมบัติเป็นผู้มี
            ความรู้ ความเชี่ยวชาญเกี่ยวกับวิศวกรรมโยธา
            และโครงการก่อสร้างเข้ามามีส่วนร่วมในการ
            ตรวจสอบคุณภาพการก่อสร้างถนนเพื่อให้เป็นไป
            ตามมาตรฐานและตามรายละเอียดที่ระบุไว้ใน
            สัญญา และมีการออกระเบียบและมาตรการ
            คุ้มครองภาคประชาชนที่เข้าร่วมตรวจรับงาน" [value]="measuresData[measuresPrefix + '_Check_1']"
              (valueChange)="measuresCheckChange(measuresPrefix + '_Check_1', $event)"></m-checkbox>

            <m-checkbox title="มีการใช้เทคโนโลยีในการสนับสนุนการตรวจสอบงานก่อสร้าง"
              [value]="measuresData[measuresPrefix + '_Check_2']"
              (valueChange)="measuresCheckChange(measuresPrefix + '_Check_2', $event)"></m-checkbox>

            <m-checkbox title="คณะกรรมการตรวจรับงาน และกลุ่มภาค
              ประชาชน ร่วมพิจารณาตรวจรับงานโครงการ
              ก่อสร้างถนนทางหลวงท้องถิ่น ทั้งนี้ เพื่อให้
              เป็นไปตามข้อกำหนดในสัญญา/ในกรณีมีการ
              แจ้งหรือร้องเรียนให้มีการปรับปรุงแก้ไขการ
              ก่อสร้าง คณะกรรมการตรวจรับจะต้องแจ้งให้
              ผู้ดำเนินการก่อสร้างปรับปรุงหรือแก้ไขให้เสร็จ
              สิ้นก่อนตรวจรับงานงวดสุดท้าย" [value]="measuresData[measuresPrefix + '_Check_3']"
              (valueChange)="measuresCheckChange(measuresPrefix + '_Check_3', $event)"></m-checkbox>

            <m-checkbox title="จัดทำรายงานและสรุปผลการตรวจรับงาน
              และหากกรณีให้มีการปรับปรุงแก้ไข จะต้องมี
              การรายงานผลการปรับปรุงที่แล้วเสร็จ เพื่อให้
              เป็นไปตามมาตรฐานการก่อสร้างและเป็นตาม
              รายละเอียดที่ระบุไว้ในสัญญา" [value]="measuresData[measuresPrefix + '_Check_4']"
              (valueChange)="measuresCheckChange(measuresPrefix + '_Check_4', $event)"></m-checkbox>

            <m-checkbox title="มีการเผยแพร่และรายงานผลการส่งมอบงานต่อสาธารณะสาธารณะ"
              [value]="measuresData[measuresPrefix + '_Check_5']"
              (valueChange)="measuresCheckChange(measuresPrefix + '_Check_5', $event)"></m-checkbox>

          </div>

        </td>

        <td>1.คำสั่งแต่งตั้งคณะกรรมการตรวจรับงาน โดยประกอบไปด้วย เจ้าหน้าที่ขององค์กรปกครองส่วนท้องถิ่น และประชาชน
          ที่มีคุณสมบัติเชี่ยวชาญด้านวิศวกรรมโยธาและการก่อสร้างถนน ให้เป็นไปตามสัญญาการจัดซื้อจัดจ้าง
          <br>2.เอกสารสรุปและรายงานผลการตรวจรับงาน ในแต่ละงวดงานพร้อมหลักฐานประกอบเช่น ภาพถ่าย เป็นต้น
          หากมีการปรับปรุงแก้ไขต้องมีรายงานผลการปรับปรุงที่แล้วเสร็จเพื่อให้เป็นไปตามมาตรฐานการก่อสร้างและรายละเอียดที่ระบุไว้ในสัญญา
          <br>3.หลักฐานการเผยแพร่ผลการตรวจรับงานต่อสาธารณะ
        </td>
        <td>
          <h3>คำอธิบายตัวชี้วัด</h3>
          <p class="indent-8">องค์กรปกครองส่วนท้องถิ่น จะต้องมีการดำเนินการตามมาตรการที่กำหนด ทั้งนี้
            ความสำเร็จของการดำเนินการตาม
            ตัวชี้วัดนี้ พิจารณาจากร้อยละของจำนวนโครงการที่ดำเนินการเสร็จสิ้นภายในระยะเวลาที่กำหนดไว้ในสัญญา ตลอดจน
            ผลงานการส่งมอบต้องเป็นไปตามมาตรฐานและตำมรายละเอียดที่ระบุไว้ในสัญญา
            โดยจะต้องมีการดำเนินการตามมาตรการที่กำหนดครบทั้ง 5 ขั้นตอน </p>
        </td>
        <td>
          <p class="indent-8">รายงานสรุปจำนวนหรือสัดส่วนโครงการฯที่ดำเนินการเสร็จสิ้นภายในระยะเวลาที่กำหนดไว้ในสัญญา
            และผลงานการส่งมอบเป็นไปตามมาตรฐานและตามรายละเอียดที่ระบุไว้ในสัญญา</p>
        </td>
      </tr>

      <!-- เกณฑ์การให้คะแนน -->
      <tr>
        <td>
          <h3>เกณฑ์การให้คะแนน</h3>
          <p class="indent-8">พิจารณาจากความสาเร็จของการดาเนินมาตรการของ
            องค์กรปกครองส่วนท้องถิ่น โดยทำการประเมินเป็นรายปี
            และมีเกณฑ์ให้คะแนน ดังนี้</p>

          <div class="grid grid-cols-1 gap-3 mt-2">
            <m-radio displayValue="1" [name]="measuresPrefix + '_Process_1'"
              [value]="processData[measuresPrefix + '_Process_1']" displayText="ดำเนินการได้ตามข้อ 1 ได้ 1 คะแนน"
              [disabled]="disableProcess"
              (valueChange)="processChange(measuresPrefix + '_Process_1', $event)"></m-radio>

            <m-radio displayValue="2" [name]="measuresPrefix + '_Process_1'"
              [value]="processData[measuresPrefix + '_Process_1']" displayText="ดำเนินการได้ตามข้อ 1-2 ได้ 2 คะแนน"
              [disabled]="disableProcess"
              (valueChange)="processChange(measuresPrefix + '_Process_1', $event)"></m-radio>

            <m-radio displayValue="3" [name]="measuresPrefix + '_Process_1'"
              [value]="processData[measuresPrefix + '_Process_1']" displayText="ดำเนินการได้ตามข้อ 1-3 ได้ 3 คะแนน"
              [disabled]="disableProcess"
              (valueChange)="processChange(measuresPrefix + '_Process_1', $event)"></m-radio>

            <m-radio displayValue="4" [name]="measuresPrefix + '_Process_1'"
              [value]="processData[measuresPrefix + '_Process_1']" displayText="ดำเนินการได้ตามข้อ 1-4 ได้ 4 คะแนน"
              [disabled]="disableProcess"
              (valueChange)="processChange(measuresPrefix + '_Process_1', $event)"></m-radio>

            <m-radio displayValue="5" [name]="measuresPrefix + '_Process_1'"
              [value]="processData[measuresPrefix + '_Process_1']" displayText="ดำเนินการได้ตามข้อ 1-5 ได้ 5 คะแนน"
              [disabled]="disableProcess"
              (valueChange)="processChange(measuresPrefix + '_Process_1', $event)"></m-radio>

          </div>

        </td>

        <td></td>

        <td>
          <h3>เกณฑ์การให้คะแนน</h3>
          <p class="indent-8">พิจารณาจากร้อยละของจำนวนโครงการที่ดำเนินการเสร็จสิ้นภายในระยะเวลาที่กำหนดไว้ในสัญญา และผลงานการส่ง
มอบเป็นไปตามมาตรฐานและตามรายละเอียดที่ระบุไว้ในสัญญา ดังนี้</p>

          <div class="grid grid-cols-1 gap-3 mt-2">
            <m-radio displayValue="1" [name]="measuresPrefix + '_Acthievement_1'"
              [value]="acthievementData[measuresPrefix + '_Acthievement_1']"
              displayText="มีการดำเนินการร้อยละ 75-79.99 ได้ 1 คะแนน" [disabled]="disableActhievement"
              (valueChange)="acthievementChange(measuresPrefix + '_Acthievement_1', $event)"></m-radio>

            <m-radio displayValue="2" [name]="measuresPrefix + '_Acthievement_1'"
              [value]="acthievementData[measuresPrefix + '_Acthievement_1']"
              displayText="มีการดำเนินการร้อยละ 80-84.99 ได้ 2 คะแนน" [disabled]="disableActhievement"
              (valueChange)="acthievementChange(measuresPrefix + '_Acthievement_1', $event)"></m-radio>

            <m-radio displayValue="3" [name]="measuresPrefix + '_Acthievement_1'"
              [value]="acthievementData[measuresPrefix + '_Acthievement_1']"
              displayText="มีการดำเนินการร้อยละ 85-89.99 ได้ 3 คะแนน" [disabled]="disableActhievement"
              (valueChange)="acthievementChange(measuresPrefix + '_Acthievement_1', $event)"></m-radio>

            <m-radio displayValue="4" [name]="measuresPrefix + '_Acthievement_1'"
              [value]="acthievementData[measuresPrefix + '_Acthievement_1']"
              displayText="มีการดำเนินการร้อยละ 90-94.99 ได้ 4 คะแนน" [disabled]="disableActhievement"
              (valueChange)="acthievementChange(measuresPrefix + '_Acthievement_1', $event)"></m-radio>

            <m-radio displayValue="5" [name]="measuresPrefix + '_Acthievement_1'"
              [value]="acthievementData[measuresPrefix + '_Acthievement_1']"
              displayText="มีการดำเนินการร้อยละ 95 ขึ้นไป ได้ 5 คะแนน" [disabled]="disableActhievement"
              (valueChange)="acthievementChange(measuresPrefix + '_Acthievement_1', $event)"></m-radio>

          </div>

        </td>

        <td></td>

      </tr>

      <!-- ผลคะแนน -->
      <tr>
        <td colspan="2" class="text-center">
          คะแนนความสามารถในการดำเนินการตามมาตรการที่ 9
          <br> ได้....{{processData[measuresPrefix + '_Process_1']}}.....คะแนน
        </td>
        <td colspan="2" class="text-center">
          คะแนนความสำเร็จตามตัวชี้วัดที่ 9
          <br> ได้....{{acthievementData[measuresPrefix + '_Acthievement_1']}}.....คะแนน
        </td>
      </tr>

    </tbody>

  </table>
</section>
