.page-with-super-sidebar {
  padding-left: var(--application-bar-left);
  transition-property: padding;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.page-with-super-sidebar-fluid {
  padding-left: var(--application-bar-left-close);
}

.content-wrapper {
  background-color: var(--primary-color);
  width: 100%;
  padding-top: var(--top-bar-height);
  padding-bottom: 100px;
  transition-property: padding;
  transition-timing-function: ease;
  transition-duration: 200ms;
  min-height: 100vh;
}

.top-bar {
  top: 0px;
  position: fixed;
  background-color: #565e6b;
  left: var(--application-bar-left);
  right: var(--application-bar-right);
  min-height: var(--top-bar-height);
  transition-property: width, left, right;
  transition-timing-function: ease;
  transition-duration: 200ms;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.5rem 1rem;
  color: #ffffff;
  gap: 1rem;

  .logout {
    font-size: 1.5rem;
    cursor: pointer;
  }

  .btn-sidebar {
    visibility: hidden;
    margin-right: auto;
  }

  .user-email {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-default);
  }

}

.top-bar-fluid {
  left: var(--application-bar-left-close);
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
}

.container-limited {
  max-width: 1296px;
}

.table-mee {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
  thead {
    background-color: var(--second-color);
    color: #ffffff;

    th {
      color: #ffffff;
      text-align: center;
      font-size: 1.2rem;
      padding: 0.25rem 0;

      .mat-sort-header-container {
        justify-content: center;
      }

      border-right: 2px solid #ffffff;
    }
  }

  tbody {
    font-size: 1rem;

    td {
      padding: 1rem 0.5rem;
    }
  }
}



body.responsive {
  .top-bar {
    display: flex;

    .btn-sidebar {
      visibility: visible !important;
    }
  }

  .page-with-super-sidebar-fluid,
  .page-with-super-sidebar {
    padding-left: 0rem;
  }


  .top-bar-fluid {
    left: 0;
  }

  .top-bar {
    left: 0;
  }
}

body.tablet{
  .table-mee {
    width: 1100px;
    thead th{
      font-size: 1rem;
    }

    tbody {
      font-size: 0.8rem;
      td {
        padding: 0.5rem 0.25rem;
      }
    }
  }
}

body.mobile{
  .table-mee {
    width: 650px;
    thead th{
      font-size: 0.8rem;
    }

    tbody {
      font-size: 0.6rem;
      td {
        padding: 0.25rem 0.25rem;
      }
    }
  }
}
