<article class="table-content">
  <button (click)="exportData()" class="export-button">Export</button>
  <div class="table-scroll">
    <table matSort (matSortChange)="sortData($event)" class="table-mee table-auto">
      <thead>
        <tr>
          <th class="w-20">#</th>
          <th mat-sort-header="create_date" class="w-48">วันที่สร้าง</th>
          <th mat-sort-header="gender" class="w-20">เพศ</th>
          <th mat-sort-header="occupation" class="w-60">อาชีพ</th>
          <th mat-sort-header="plan_topic" class="w-60">ประเภทแผน</th>
        </tr>
      </thead>

      <tbody *ngIf="sortedData.length > 0">
        <tr *ngFor="let dessert of sortedData;">
          <td class="text-center"><button class="btn-view" (click)="openReportForm(dessert)"><fa-icon icon="search"></fa-icon></button></td>
          <td class="text-center">{{dessert['create_date'] | mDate }}</td>
          <td class="text-center">{{genderOptions[dessert['gender']]}}</td>
          <td>{{dessert['occupation']}}</td>
          <td>{{ planTopicOptions[dessert['plan_topic']] }} <span *ngIf="dessert['plan_topic'] == 'Another'">:
              {{dessert['plan_another_detail']}}</span></td>
        </tr>
      </tbody>

    </table>
  </div>

  <section>
    <m-pagination [items]="sortedDataClone" (changePage)="onChangePage($event)"></m-pagination>
  </section>

</article>

<m-dialog [(isShowDialog)]="isShowDialog">
  <ng-template #dialogContent>
    <comment-dialog [data]="dataDialog"></comment-dialog>
  </ng-template>
</m-dialog>
