.dashboard-content{
  margin-top: 6rem;
  border-radius: 10px;
  border: 2px solid var(--second-color);
  background-color: #ffffff;
  padding: 1rem 1rem;

  .search-section{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    m-date-range-picker{
      width: 100%;
    }

    .search-button{
        background-color: var(--second-color);
        padding: 0.25rem 0.5rem;
        border-radius: 15px;
        color: #ffffff;
        font-size: 1rem;
        font-weight: var(--font-weight-default);
        transition: all ease 0.5s;
    }

    .search-button:hover{
      box-shadow: 5px -5px 2px gray;
      transform: translateY(5px);
    }
  }
}
