textarea{
  height: 150px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--second-color);
  font-size: var(--font-size-default);
  font-weight: 400;
  padding: .5rem .75rem;
}


label{
  font-size: var(--font-size-default);
  font-weight: var(--font-weight-default);
  margin-bottom: 0.3rem;
}

.required{
  color: var(--error-color);
  margin-left: 0.1rem;
}
