
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Define the theme object.
$meesuanruam-web-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($meesuanruam-web-theme);
  @include mat.sort-overrides((
    arrow-color: #FFFFFF,
  ));
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($meesuanruam-web-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($meesuanruam-web-theme);
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --application-bar-left: 16rem;
  --application-bar-left-close: 4rem;
  --application-bar-right: 0rem;
  --top-bar-height: 48px;
  --font-size-default: 1rem;
  --font-weight-default: 600;

  --primary-color: #66b8c4;
  --second-color: #323944;
  --input-focus-color: #464f5e;
  --error-color: #b60000;

}

body {
  margin: 0px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body { height: 100%; }
